fastapi
uvicorn[standard]
python-multipart
librosa
noisereduce
scipy
soundfile
openai-whisper
torch
torchaudio
transformers
pyannote.audio
opensmile
catboost
numpy
pandas
firebase-admin
sse-starlette
python-dotenv
httpx
pytest
